@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestión </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <!-- Primera Sección -->
    <section class="my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body"> 
                        <a asp-action="Guardar" asp-controller="grupo" class="btn btn-success"><i class="icon ion-md-basket mr-2 lead"></i>Listado de Compras</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Calendario</h5>
                        <p class="card-text">Contenido de la segunda columna en la primera sección.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Segunda Sección -->
    <section class="my-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reportes</h5>
                        <p class="card-text">Contenido de la primera columna en la segunda sección.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sitio Web</h5>
                        <p class="card-text">Contenido de la segunda columna en la segunda sección.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
