@model List<habitacionModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<section>
    <div class="container">

        <div class="row">
            <div class="col">
                <td>
                    <a asp-action="Guardar" asp-controller="habitacion" class="btn btn-success"><i class="icon ion-md-bed mr-2 lead"></i> Crear Habitación</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="persona" class="btn btn-warning"><i class="icon ion-md-person mr-2 lead"></i> Crear Persona</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="grupo" class="btn btn-info"><i class="icon ion-md-people mr-2 lead"></i> Crear Grupo</a>
                </td>
            </div>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Numero Habitación</th>
                    <th scope="col">Numero de Camas</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id </td>
                        <td>@item.numCamas</td>
                        <td>
                            <a asp-action="Editar" asp-controller="habitacion" class="btn btn-primary btn-sm" asp-route-id="@item.id">Editar</a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="habitacion" class="btn btn-danger btn-sm" asp-route-id="@item.id">Eliminar</a>
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</section>

