@model productoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="d-flex justify-content-center">Guardar Producto</h1>
<form asp-action="Guardar" asp-controller="productos">
    <div class="form-group">
        <label>Nombre del Producto</label>
        <input asp-for="nombre" type="text" class="form-control">
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo de Medida</label>
        <select asp-for="tipoMedida" class="form-control">
            <option value="">Seleccionar...</option>
            <option value="Litro">Litro</option>
            <option value="Gramo">Gramo</option>
            <option value="Kilogramo">Kilogramo</option>
            <option value="Libra">Libra</option>
            <option value="Taza">Taza</option>
            <option value="Unidad">Unidad</option>
            <option value="Onzas">Onzas</option>
            <option value="Mililitro">Mililitro</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar Producto</button>
    <a asp-action="Listar" asp-controller="menu" class="btn btn-warning">Volver a la Lista</a>
</form>