@model List<recetasPorMenu>
@{
    ViewData["Title"] = "Listar Recetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Recetas</h1>

<table class="table">
    <thead>
        <tr>
            
            <th>Nombre del Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receta in Model)
        {
            <tr>
              
                <td>@receta.nombreProducto</td>
                <td>@receta.cantidad</td>
            </tr>
        }
    </tbody>
</table>


