@model grupoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>
<form asp-action="Eliminar" asp-controller="grupo" method="post">
    <input asp-for="id" type="hidden" class="form-control">
    <!--agregando-->

    <div class="alert alert-danger" role="alert">
        ¿Desea eliminar el Grupo: @Html.DisplayTextFor(m => m.nombre)?
    </div>

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Listar" asp-controller="grupo" class="btn btn-warning">Volver a la Lista</a>

</form>


