@model IEnumerable<AppIncalink.Models.comprasModel>

@{
    ViewData["Title"] = "Lista de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Compras:</h3>
  <a asp-controller="Home"
   asp-action="GenerarPdfCompras"
                           class="btn btn-info text-white">Generar PDF</a>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Tipo de Medida</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
                <td>@compra.nombreProducto</td>
                <td>@compra.tipoMedida</td>
                <td>@compra.cantidad</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Listar" asp-controller="grupo" class="btn btn-warning">Volver a los Grupos</a>
