@model recetasModel
@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="d-flex justify-content-center">Eliminar Receta</h1>
<form asp-action="Eliminar" asp-controller="recetas" method="post">
    <input asp-for="id" type="hidden" class="form-control">
    <!--agregando-->

    <div class="alert alert-danger" role="alert">
        ¿Desea eliminar esta Recetas: @Html.DisplayTextFor(m => m.id)?
    </div>

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Listar" asp-controller="menu" class="btn btn-warning">Volver a la Lista</a>

</form>
