@model List<recetasPorMenu>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<section>
    <div class="container">

        <div class="row">
            <div class="col">
                <td>
                    <a asp-action="Guardar" asp-controller="recetas" class="btn btn-success"><i class="icon ion-md-cart mr-2 lead"></i> Crear Receta</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="productos" class="btn btn-warning"><i class="icon ion-md-nutrition mr-2 lead"></i> Agregar Producto</a>
                </td>
            </div>
            <div class="col">
                <td>
                    <a asp-action="Listar" asp-controller="menu" class="btn btn-primary"><i class="icon ion-md-pizza mr-2 lead"></i> Crear Menu</a>
                </td>
            </div>
        </div>
    </div>
</section>
<br />
<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Plato</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombrePlato</td>
                        <td>@item.nombreProducto</td>
                        <td>@item.cantidad</td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="recetas" class="btn btn-danger btn-sm" asp-route-id="@item.id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
