html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
    #sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px; /* ancho del menú */
        height: 100vh;
        background-color: #333;
        padding: 20px;
        transform: translateX(-250px); /* ocultar el menú por defecto */
        transition: transform 0.3s ease-in-out;
    }

        #sidebar-container.show {
            transform: translateX(0); /* mostrar el menú cuando se hace clic en el botón hamburguesa */
        }
}