 .sidebar {
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #001d4a;
            padding-top: 20px;
            color: white;
        }
        .sidebar a {
            padding: 15px 10px;
            text-decoration: none;
            color: white;
            display: block;
        }
        .sidebar a:hover {
            background-color: #575757;
        }
        @media (max-width: 768px) {
            .sidebar {
                display: none;
            }
            .menu-toggle {
                display: block;
            }
        }
        .menu-toggle {
            display: none;
            position: fixed;
            top: 10px;
            left: 10px;
            background-color: #001d4a;
            color: white;
            border: none;
            padding: 10px;
            z-index: 1000;
        }
        .sidebar.show {
            display: block;
        }